$main-color: #6a8602;
$success-text-color: #6a8602;
$error-text-color: #E32242;
$error-bg-color: #FFCFD7;
$warning-text-color: #E32242;
$form-bg-color: #f6d840;
$form-border-color: #f79c01;
$text-color: #311e1f;
$nav-btn-color: #9d6002;

$primary-font-stack: "Helvetica Neue", Helvetica, sans-serif;

$radius: 20px;
