@import "../../style/variables";
@import '../../style/mixins';

.menu-icon-container {
  display: inline-block;
  background-color: $form-bg-color;
  border: 3px solid $form-border-color;
  border-radius: $radius;
  cursor: pointer;
  padding: 20px;
  min-width: 250px;
  @include respond-to(handhelds) {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}

.menu-icon-container.left {
  margin-right: 30px;
  @include respond-to(handhelds) {
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.menu-logo {
  min-width: 160px;
  max-width: 200px;
  height: 160px;
}

.menu-text {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
}
